PORT=50064
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
DB_USER=password
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=symmetrical-spoon
DB_SSL_MODE=disable
EMAILER_NAME=stdout
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
DOMAIN=http://localhost:50064
RESEND_API_KEY=