<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>345023217894-3jt25lrrlrjb0ahnk0q2u5h49qa9gsa4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
	  <dict>
	    <key>CFBundleURLSchemes</key>
	    <array>
	      <string>com.googleusercontent.apps.345023217894-lc53a49u9ig543qpfpk8p4lkdd0uhjtn</string>
	    </array>
	  </dict>
	</array>
	<key>GIDClientID</key>
	<string>345023217894-lc53a49u9ig543qpfpk8p4lkdd0uhjtn.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>mailto</string>
		<string>App-prefs</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Jadwal needs full access to your calendars to allow you to manage them through Jadwal&apos;s app. No data will be transmitted, we just show it in the app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
